<select name="ca_carriers" id="ca_carriers">
	<option value='302651'>BELL</option>
	<option value='302720'>ROGERS</option>
	<option value='302655'>MTS</option>
	<option value='302701'>NB TEL</option>
	<option value='302657'>QUEBECTEL</option>
	<option value='302654'>SASK TEL</option>
	<option value='302653'>TELUS</option>
	<option value='302001'>VIRGIN</option>
	<option value='302370'>FIDO</option>
</select>

