
<select name="ca_provinces" id="ca_provinces">
   <option value='AB'>Alberta</option>
   <option value='BC'>British Columbia</option>
   <option value='MB'>Manitoba</option>
   <option value='NB'>New Brunswick</option>
   <option value='NF'>Newfoundland</option>
   <option value='NT'>Northwest Territories</option>
   <option value='NS'>Nova Scotia</option>
   <option value='NU'>Nunavut</option>
   <option value='ON'>Ontario</option>
   <option value='PE'>Prince Edward Island</option>
   <option value='QC'>Quebec</option>
   <option value='SK'>Saskatchewan</option>
   <option value='YT'>Yukon Territory</option>
</select>