<select name="us_carriers" id="us_carriers">
	<option value='310980'>AT&amp;T</option>
	<option value='310190'>ALASKA WIRELESS</option>
	<option value='310500'>ALLTEL</option>
	<option value='310420'>CINCINNATI BELL</option>
	<option value='310180'>CINGULAR</option>
	<option value='310016'>CRICKET</option>
	<option value='310560'>DOBSON</option>
	<option value='316010'>NEXTEL</option>
	<option value='316110'>SPRINT</option>
	<option value='310660'>TMOBILE USA</option>
	<option value='310012'>VERIZON</option>
</select>
