@charset "utf-8";

@font-face {
	font-family: PTSansRegular;
	src: url('fonts/pt-sans-webfont.eot');
	src: url('fonts/pt-sans-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/pt-sans-webfont.woff') format('woff'),
		url('fonts/pt-sans-webfont.ttf') format('truetype'),
		url('fonts/pt-sans-webfont.svg#PTSansRegular') format('svg');
	font-weight: normal; font-style: normal;
}

a { cursor: pointer; }
a img { border: none; }

input, textarea, select { font-size: 13px; color: #444; font-family: Arial, Helvetica, sans-serif; }
input[type="text"], textarea, select { border: 1px solid #7f9db9; }
input[type="text"],
textarea { height: 16px; line-height: 16px; padding: 3px 5px; }
textarea { overflow: auto; height: auto; resize: none; }
select { height: 22px; line-height: 16px; }

.clear { clear: both; }


/* hidden iframe to get server data */
#ajaxResult { display: none; width: 0; height: 0; border: none; }

/* hidden div for includes */
#includes { display: none; }

/* ajax auxillary elements */
#ajaxLoader,
#ajaxMessage { display: none; position: fixed; z-index: 10000001; left: 50%; top: 50%; }
#ajaxLoader { margin: -25px 0 0 -25px; width: 50px; height: 50px; }
#ajaxMessage {
	width: 202px; padding: 16px 18px; margin: -25px 0 0 -119px; line-height: 16px; font-size: 14px;
	color: #333; text-align: center; border: 1px solid #aaa; border-radius: 6px; box-shadow: 0 0 6px #ddd;
	background: white; }

/* login page */
#loginFB {
	position: relative; left: 50%; top: 50%; width: 600px; height: 200px;
	margin: 0px 0 0 -300px; text-align: center; }
#loginFB h1 { font-size: 18px; line-height: 30px; margin-bottom: 30px; font-family:Verdana, Geneva, sans-serif }


#fancybox-outer { border-radius: 6px; }
#fancybox-overlay,
#fancybox-wrap { z-index: 10000000; }

.cleditorPopup,
.colorpicker,
.ui-datepicker { z-index: 100000000000000 !important; }

.colorpicker input { height: 12px; line-height: 12px; padding: 0; border: none; }


/* buttons */
a.bigButton,
a.aButton,
.searchTabs [type="submit"],
.pageBody .block .buttons span {
	position: relative; display: inline-block; line-height: 42px; padding: 0 36px 0 18px; border-radius: 4px;
	font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: white !important;
	text-decoration: none !important; }
a.bigButton.orange,
a.aButton.orange,
a.aButton.done {
	background: #ee7c23;
	background-image: linear-gradient(bottom, rgb(238,123,35) 0%, rgb(249,161,28) 100%);
	background-image: -o-linear-gradient(bottom, rgb(238,123,35) 0%, rgb(249,161,28) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(238,123,35) 0%, rgb(249,161,28) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(238,123,35) 0%, rgb(249,161,28) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(238,123,35) 0%, rgb(249,161,28) 100%);
	background-image: -webkit-gradient(
		linear, left bottom, left top, color-stop(0, rgb(238,123,35)), color-stop(1, rgb(249,161,28)) ); }
a.bigButton.blue,
a.aButton.blue,
a.aButton.cancel,
.searchTabs [type="submit"],
.pageBody .block .buttons span {
	background: #1270a1;
	background-image: linear-gradient(bottom, rgb(18,111,161) 0%, rgb(40,134,181) 100%);
	background-image: -o-linear-gradient(bottom, rgb(18,111,161) 0%, rgb(40,134,181) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(18,111,161) 0%, rgb(40,134,181) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(18,111,161) 0%, rgb(40,134,181) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(18,111,161) 0%, rgb(40,134,181) 100%);
	background-image: -webkit-gradient(
		linear, left bottom, left top, color-stop(0, rgb(18,111,161)), color-stop(1, rgb(40,134,181)) ); }
a.bigButton span { position: absolute; display: block; }
a.bigButton.next span {
	right: 15px; top: 17px; width: 14px; height: 8px; background: url(../images/bigButtonNext.png) no-repeat; }
a.bigButton.prev { padding: 0 18px 0 36px; }
a.bigButton.prev span {
	left: 15px; top: 17px; width: 14px; height: 8px; background: url(../images/bigButtonPrev.png) no-repeat; }

a.aButton,
.pageBody .block .buttons span { line-height: 24px; padding: 0 9px; font-size: 12px; }
.searchTabs [type="submit"] {
	width: 100px; padding: 0; height: 24px; line-height: 24px; font-size: 13px; cursor: pointer; border: none; }

/* header */
#top { position: relative; z-index: 1; }


/* "create new tab" button */
#normalheader .buttons { overflow: hidden; padding: 33px 0 0 26px; }
.editorPage #normalheader .buttons { padding-top: 9px; padding-bottom: 11px; }
#normalheader .buttons a.bigButton { float: left; margin-right: 9px; }
#normalheader .buttons .hidden { display: none; }


/* customization steps in header */
.tabSteps,
.createNewTab .steps {
	overflow: hidden; width: 980px; margin: 0 auto; height: 48px;
	background: url(../images/headerStepBG.png) 0 -240px repeat-x; }
.tabSteps ul {}
.tabSteps ul li,
.createNewTab .steps .li {
	position: relative; float: left; height: 48px; line-height: 48px; padding: 0 12px 0 36px;
	font-size: 14px; color: white; cursor: pointer; background-repeat: no-repeat; background-position: 0 0;
	background-image: url(../images/headerStepBG.png); }
.tabSteps ul li.a1 { z-index: 8; }
.tabSteps ul li.a2 { z-index: 7; }
.tabSteps ul li.a3 { z-index: 6; }
.tabSteps ul li.a4 { z-index: 5; }
.tabSteps ul li.a5 { z-index: 4; }
.tabSteps ul li.a6 { z-index: 3; }
.tabSteps ul li.a7 { z-index: 2; }
.tabSteps ul li.a8 { z-index: 1; }
.tabSteps ul.noContest li.a3,
.tabSteps ul.noContest li.a4,
.tabSteps ul.noContest li.a5,
.tabSteps ul.noContest li.a6,
.tabSteps ul.noContest li.a7 { display: none; }
.tabSteps ul.noUGC li.a5,
.tabSteps ul.noUGC li.a6 { display: none; }
.tabSteps ul li.active,
.createNewTab .steps .li.active { background-position: 0 -144px; }
.tabSteps ul li.a1,
.createNewTab .steps .li.b1 { background-position: 0 -96px; padding-left: 15px; }
.tabSteps ul li.a1.active,
.createNewTab .steps .li.b1.active { background-position: 0 -192px; }
.tabSteps ul li span.number {
	display: none; float: left; margin: 13px 9px 0 0; width: 21px; height: 21px; line-height: 21px; text-align: center;
	font-size: 12px; background: url(../images/headerStepNumber.png) no-repeat; }
.tabSteps ul li span.arrow,
.createNewTab .steps .li span.arrow {
	position: absolute; right: -27px; top: 0; display: block; width: 27px; height: 48px; background-repeat: no-repeat;
	background-image: url(../images/headerStepBG.png); background-position: 100% 0; }
.tabSteps ul li.active span.arrow,
.createNewTab .steps .li.active span.arrow { background-position: 100% -144px; }
.tabSteps ul li.nextIsActive span.arrow,
.createNewTab .steps .li.nextIsActive span.arrow { background-position: 0 -144px; }

/* create new tab steps */
.createNewTab .steps { width: auto; margin-bottom: 21px; }
.createNewTab .steps .li.b1 { z-index: 3; }
.createNewTab .steps .li.b2 { z-index: 2; }
.createNewTab .steps .li.b3 { z-index: 1; }
.createNewTab .step { display: none; }
.createNewTab .step label { display: block; line-height: 24px; padding: 0; font-weight: normal; }
.createNewTab .step label.error { display: inline-block; margin-left: 6px; color: red; }
.createNewTab h2 {
	font-size: 15px; line-height: 18px; padding-bottom: 6px; font-family: Arial; font-weight: normal; }
.createNewTab .ajaxLoader { display: none; width: 20px; vertical-align: middle; }


/* a tip, how to use the editor */
#contents p.editorTip {
	margin-bottom: 30px; line-height: 42px; padding: 0 10px; font-size: 14px; color: #7d7d7d;
	font-family: Arial, Helvetica, sans-serif; background: url(../../images/lefth2.jpg) center no-repeat; }


/* save, next etc. buttons */
.editorButtons { overflow: hidden; padding-bottom: 21px; }
.fbArea .editorButtons { padding: 21px 0; }
.editorButtons a.bigButton { float: right; margin-left: 12px; }
.editorButtons a.bigButton.publish { display: none; }
.editorButtons a.bigButton.publish i { font-style: normal; }



/*------------------------ DASHBOARD -------------------------*/

/* create new tab */
.createNewTab { display: none; margin-bottom: 30px; }

/* widgets slider and filter are contained in this block */
.editorScrollingWidgets { position: relative; z-index: 9999; margin: -6px 0 15px; height: 122px; }
.editorScrollingWidgets .in { position: absolute; left: -15px; width: 950px; padding: 6px 15px 0; background: white; }


/* these elements must be visible, when scrolling a page */
.contentRuler.horz.fixed,
.editorScrollingWidgets.fixed .in,
.fbArea .contentInner .editorInstruments.fixed { position: fixed; z-index: 100; right: auto; left: 50%; top: 128px; }
.contentRuler.horz.fixed { margin-left: -405px; }
.editorScrollingWidgets.fixed .in { top: 0; margin-left: -490px; }
.fbArea .contentInner .editorInstruments.fixed { margin-left: 429px; }


/* widgets filter */
#contents .filterWidgetsBy {
	line-height: 42px; padding: 0 10px; font-size: 14px; color: #7d7d7d;
	font-family: Arial, Helvetica, sans-serif; background: url(../../images/lefth2.jpg) center no-repeat; }
#contents .filterWidgetsBy span { display: inline-block; margin: 0 9px; color: #7d7d7d; cursor: pointer; }
#contents .filterWidgetsBy span:hover { color: #1573a4; text-decoration: underline; }
#contents .filterWidgetsBy span.active { color: #1573a4; font-weight: bold; }


/* WIDGETS SLIDER */

.widgetsSlider { position: relative; width: 900px; height: 44px; margin: 0 auto 30px; }
.widgetsSlider span.arrow {
	position: absolute; top: 11px; display: block; width: 17px; height: 22px; cursor: pointer;
	background-image: url(../images/widgetsSliderArrows.png); }
.widgetsSlider span.arrow.left { left: -24px; background-position: 0 0; }
.widgetsSlider span.arrow.right { right: -24px; background-position: 100% 0; }

.widgetsSlider .frame { display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.widgetsSlider .frame ul { position: absolute; left: 0; top: 0; margin: 0; padding: 0; }
.widgetsSlider .frame ul * { text-decoration: none !important; }
.widgetsSlider .frame ul li,
.widgetsSlider .frame ul li a,
.widgetsSlider .frame ul li a span,
.widgetsSlider .frame ul li i.mask { display: block; width: 44px; height: 44px; }
.widgetsSlider .frame ul li { position: relative; float: left; margin: 0 8px; padding: 0; background: none; }
.widgetsSlider .frame ul li a { position: relative; z-index: 0; }
.widgetsSlider .frame ul li a span {
	position: absolute; left: 0; top: 0; background-repeat: no-repeat;
	background-image: url(../images/socialIcons.png); }
.widgetsSlider .frame ul li i.mask {
	position: absolute; z-index: 1; left: 0; top: 0; background: white; opacity: 0.65; filter: alpha(opacity=65); }

/*span.iconIframe { background-position: 0 0; }
span.iconFacebookPostToFeed { background-position: -44px 0; }
span.iconYoutube { background-position: -88px 0; }
span.iconGoogleMaps { background-position: -132px 0; }

span.iconImage { background-position: 0 -44px; }
span.iconHtml { background-position: -44px -44px; }
span.iconPaypal { background-position: -88px -44px; }
span.iconSlideshow { background-position: -132px -44px; }

span.iconCountdown { background-position: 0 -88px; }
span.iconTwitter { background-position: -44px -88px; }
span.iconProduct { background-position: -88px -88px; }
span.iconContact { background-position: -132px -88px; }

span.iconRealEstate { background-position: 0 -132px; }
span.iconHotspot { background-position: -44px -132px; }
span.iconText { background-position: -88px -132px; }
span.iconRSS { background-position: -132px -132px; }

span.iconFlash { background-position: 0 -176px; }
span.iconComment { background-position: -44px -176px; }
span.iconFlickr { background-position: -88px -176px; }
span.iconTumblr { background-position: -132px -176px; }

span.iconVimeo { background-position: 0 -220px; }
span.iconEcommerce { background-position: -44px -220px; }
span.iconFoursquare { background-position: -88px -220px; }
span.iconEmail { background-position: -132px -220px; }

span.iconDigg { background-position: 0 -264px; }
span.iconDribbble { background-position: -44px -264px; }
span.iconSkype { background-position: -88px -264px; }
span.iconLike { background-position: -132px -264px; }

span.iconDelicious { background-position: 0 -308px; }
span.iconDirections { background-position: -44px -308px; }
span.iconRestaurant { background-position: -88px -308px; }
span.iconHtmlReader { background-position: -132px -308px; }

span.iconFacebookSend { background-position: 0 -352px; }
span.iconLinkedInShare { background-position: -44px -352px; }
span.iconGoogle1 { background-position: -88px -352px; }
span.iconContestEnter { background-position: -132px -352px; }
span.iconContestView { background-position: -132px -352px; }

span.iconContestSubmit { background-position: 0 -396px; }
span.iconContestText { background-position: -44px -396px; }
span.iconContestTextarea { background-position: -88px -396px; }
span.iconContestSelect { background-position: -132px -396px; }

span.iconContestCheckbox { background-position: 0 -440px; }
span.iconContestRadio { background-position: -44px -440px; }*/

span.iconIframe { background-position: 0 0; }
span.iconFacebookPostToFeed { background-position: -44px 0; }
span.iconYoutube { background-position: -88px 0; }
span.iconGoogleMaps { background-position: -132px 0; }

span.iconImage { background-position: 0 -44px; }
span.iconHtml { background-position: -44px -44px; }
span.iconPaypal { background-position: -88px -44px; }
span.iconSlideshow { background-position: -132px -44px; }

span.iconCountdown { background-position: 0 -88px; }
span.iconTwitter { background-position: -44px -88px; }
span.iconProduct { background-position: -88px -88px; }
span.iconContact { background-position: -132px -88px; }

span.iconRealEstate { background-position: 0 -132px; }
span.iconHotspot { background-position: -44px -132px; }
span.iconText { background-position: -88px -132px; }
span.iconRSS { background-position: -132px -132px; }

span.iconFlash { background-position: 0 -176px; }
span.iconComment { background-position: -44px -176px; }
span.iconFlickr { background-position: -88px -176px; }
span.iconTumblr { background-position: -132px -176px; }

span.iconVimeo { background-position: 0 -220px; }
span.iconEcommerce { background-position: -44px -220px; }
span.iconFoursquare { background-position: -88px -220px; }
span.iconEmail { background-position: -132px -220px; }

span.iconDigg { background-position: 0 -264px; }
span.iconDribbble { background-position: -44px -264px; }
span.iconSkype { background-position: -88px -264px; }
span.iconLike { background-position: -132px -264px; }

span.iconDelicious { background-position: 0 -308px; }
span.iconDirections { background-position: -44px -308px; }
span.iconRestaurant { background-position: -88px -308px; }
span.iconHtmlReader { background-position: -132px -308px; }

span.iconFacebookSend { background-position: 0 -352px; }
span.iconLinkedInShare { background-position: -44px -352px; }
span.iconGoogle1 { background-position: -88px -352px; }
span.iconContestEnter { background-position: -132px -352px; }
span.iconContestView { background-position: -132px -352px; }

span.iconContestSubmit { background-position: 0 -396px; }
span.iconContestText { background-position: -44px -396px; }
span.iconContestTextarea { background-position: -88px -396px; }
span.iconContestSelect { background-position: -132px -396px; }

span.iconContestCheckbox { background-position: 0 -440px; }
span.iconContestRadio { background-position: -44px -440px; }
span.iconPinterestPinIt { background-position: -88px -440px; }
span.iconPinterestFollow { background-position: -132px -440px; }

span.iconFacebookInvite { background-position: 0px -484px; }
span.iconTwitterShare { background-position: -44px -484px; }
span.iconImagesSlider { background-position: -88px -484px; }
span.iconContestBtn { background-position: -132px -484px; }

span.iconContestUGCGallery { background-position: 0px -528px; }
span.iconContestUGCUploadArea { background-position: -44px -528px; }


/* widget icons tooltip */
.tooltip {
	display: none; position: absolute; z-index: 100000; width: 160px; padding: 6px 12px 8px;
	font-size: 11px; line-height: 15px; color: #434242; text-shadow: none; text-align: left;
	font-style: normal; background: url(../images/tooltip.png) center no-repeat; }
.tooltip em {
	position: absolute; left: 0; display: block; width: 184px;
	background-image: url(../images/tooltip.png); background-repeat: no-repeat; }
.tooltip em.top { top: -4px; height: 4px; background-position: 0 0; }
.tooltip em.bottom { /*bottom: -16px;*/ top: 100%; height: 16px; background-position: 0 100%; }

.tooltip.reversed { padding: 8px 12px 6px; background: url(../images/tooltipReversed.png) center no-repeat; }
.tooltip.reversed em { background-image: url(../images/tooltipReversed.png); }
.tooltip.reversed em.top { top: -16px; height: 16px; background-position: 0 0; }
.tooltip.reversed em.bottom { /*bottom: -4px;*/ top: 100%; height: 4px; background-position: 0 100%; }


/* EDITOR - FACEBOOK AREA */

.fbArea { width: 980px; margin-left: -15px; background: #e7ebf2; }
.fbArea .header {
	position: relative; z-index: 1; height: 37px; box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
	background: url(../images/fbAreaHeader.png) no-repeat; }
.fbArea .panel,
.fbArea .contentInner { margin: 0 61px; border: 1px solid #c4cde0; border-radius: 3px; background: white; }
.fbArea .panel {
	padding: 0 24px 0 15px; height: 47px; margin-bottom: 7px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
	border-top: none; border-top-left-radius: 0; border-top-right-radius: 0; }
.fbArea .panel img.tabIcon,
.fbArea .panel .tabName,
.fbArea .panel .contentTypeSwitch { margin-top: 11px; }
.fbArea .panel .contentTypeSwitch { display: none; }
.fbArea .panel img.tabIcon {
	float: left; margin-right: 15px; width: 38px; height: 25px; border-radius: 3px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
.fbArea .panel .tabName,
.fbArea .panel .contentTypeSwitch a {
	position: relative; float: left; padding: 0 24px 0 9px; line-height: 23px; font-size: 13px; color: #333;
	border: 1px solid #a6a6a6; border-radius: 3px; font-weight: bold; font-family: 'Lucida Grande', Tahoma; 
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); background: #f1f1f2;
	background-image: linear-gradient(bottom, rgb(241,241,242) 0%, rgb(253,253,253) 100%);
	background-image: -o-linear-gradient(bottom, rgb(241,241,242) 0%, rgb(253,253,253) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(241,241,242) 0%, rgb(253,253,253) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(241,241,242) 0%, rgb(253,253,253) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(241,241,242) 0%, rgb(253,253,253) 100%);
	background-image: -webkit-gradient(
		linear, left bottom, left top, color-stop(0, rgb(241,241,242)), color-stop(1, rgb(253,253,253)) ); }
.fbArea .panel .tabName span,
.fbArea .panel .contentTypeSwitch a span {
	position: absolute; display: block; width: 12px; height: 11px;
	background-image: url(../images/previewFbIcons.png); background-repeat: no-repeat; }
.fbArea .panel .contentTypeSwitch a span { display: none; }
.fbArea .panel .tabName { float: left; padding: 0 24px 0 9px; }
.fbArea .panel .tabName span { right: 6px; top: 6px; background-position: -24px 0; }
.fbArea .panel .contentTypeSwitch { float: right; }
.fbArea .panel .contentTypeSwitch a {
	display: inline-block; margin-left: 6px; padding: 0 9px 0 24px; padding: 0 9px;
	text-decoration: none !important; cursor: pointer; }
.fbArea .panel .contentTypeSwitch.noContest a.contest-fans,
.fbArea .panel .contentTypeSwitch.noContest a.contest-form,
.fbArea .panel .contentTypeSwitch.noContest a.contest-thank { display: none; }
.fbArea .panel .contentTypeSwitch.noUGC a.contest-ugc-form,
.fbArea .panel .contentTypeSwitch.noUGC a.contest-ugc-gallery { display: none; }
.fbArea .panel .contentTypeSwitch a.like span { left: 7px; top: 6px; background-position: 0 0; }
.fbArea .panel .contentTypeSwitch a.liked span { left: 6px; top: 7px; background-position: -12px 0; }

.fbArea .contentInner {
	position: relative; padding: 21px 21px 0; border-bottom: none; border-bottom-left-radius: 0;
	border-bottom-right-radius: 0; }

.fbArea .contentInner .editorInstruments { position: absolute; right: -30px; top: 21px; width: 29px; }
.fbArea .contentInner .editorInstruments .hidden { display: none !important; }
.fbArea .contentInner .editorInstruments span.divider {
	display: block; border-top: 1px solid #71787c; border-bottom: 1px solid #676869; }
.fbArea .contentInner .editorInstruments a {
	display: block; width: 27px; height: 27px; border: 1px solid #474a4c;
	background-image: url(../images/editorInstruments.png); }
.fbArea .contentInner .editorInstruments a.contest { background-position: 0 0; }
.fbArea .contentInner .editorInstruments a.contest.disable { background-position: -27px 0; }
.fbArea .contentInner .editorInstruments a.ugc { background-position: 0 0; }
.fbArea .contentInner .editorInstruments a.ugc.disable { background-position: -27px 0; }
.fbArea .contentInner .editorInstruments a.contestProperties { background-position: -54px 0; }
.fbArea .contentInner .editorInstruments a.contestFormDesign { background-position: -81px 0; }
.fbArea .contentInner .editorInstruments a.height { background-position: -108px 0; }
.fbArea .contentInner .editorInstruments a.background { background-position: -135px 0; }
.fbArea .contentInner .editorInstruments a.analytics { background-position: -162px 0; }
.fbArea .contentInner .editorInstruments a.ruler { background-position: -189px 0; }
.fbArea .contentInner .editorInstruments a.grid { background-position: -216px 0; }
.fbArea .contentInner .editorInstruments a.clear { background-position: -243px 0; }


/* block for creating pages */
.pageBodyOuter { position: relative; }
.pageBodyOuter #ajaxLoader,
.pageBodyOuter #ajaxMessage { display: none; position: absolute; z-index: 10000; left: 50%; }
.pageBodyOuter #ajaxLoader { top: 250px; margin-left: -25px; width: 50px; height: 50px; }
.pageBodyOuter #ajaxMessage {
	top: 20px; margin-left: -100px; width: 200px; padding: 15px 21px; font-size: 15px; line-height: 18px;
	color: white; text-align: center; background: green; }
.pageBodyOuter .pageBodyInner { border: 2px dashed #cacaca; }
.pageBodyOuter .pageBodyPreview { display: none; border: 2px solid transparent; }
.pageBodyOuter .pageBodyPreview .preview { display: none; width: 810px; border: none; }
.pageBody { position: relative; background: white; }


/* elements on the page - general styles */
.pageBody .block { position: absolute; left: 0; top: 0; max-width: 810px; }
.pageBody .block .borders {
	position: absolute; z-index: 1; left: 0; right: 0; top: 0; bottom: 0; border: 1px dashed #333; }
.pageBody .block .overlay {
	position: absolute; z-index: 2; left: 0; top: 0; width: 100%; height: 100%; background: white;
	opacity: 0; filter: alpha(opacity=0); }
.pageBody .block:hover .buttons { display: block; }
.pageBody .block .buttons { display: none; position: absolute; z-index: 3; right: 0; top: -24px; width: 110px; }
.pageBody .block .buttons span { float: right; margin-left: 6px; cursor: pointer; }


/* elements on the page - 100% resizable */
.pageBody .block img,
.pageBody .block iframe,
.pageBody .block object,
.pageBody .block .contentHotspot,
.pageBody .block .contentGoogleMaps,
.pageBody .block .contestUGCUploadArea {
	position: relative; z-index: 0; display: block; border: none;
	min-width: 10px; min-height: 10px; max-width: 810px; }
.pageBody .block .contentGoogleMaps { min-width: 300px; min-height: 300px; }
.pageBody .block .resized,
.pageBody .block .resized embed {
	width: 100%; height: 100%; min-width: 0 !important; min-height: 0 !important; }
.pageBody .block .savedHidden { opacity: 0; filter: alpha(opacity=0); }

/* contest button widget */
.pageBody .block .contestButton { position: relative; overflow: hidden; }
.pageBody .block .contestButton img { cursor: pointer; }
.pageBody .block .contestButton input[type="file"] {
	position: absolute; right: 0; top: 0; cursor: pointer; font-size: 500px; opacity: 0; filter: alpha(opacity=0); }

/* ugc uploadarea widget */
.pageBody .block .contestUGCUploadArea { text-align: center; }
.pageBody .block .contestUGCUploadArea * { vertical-align: middle; }
.pageBody .block .contestUGCUploadArea span { display: inline-block; height: 100%; width: 0; }
.pageBody .block .contestUGCUploadArea img { display: inline-block; }

/* text widget */
.pageBody .block .contentText { line-height: 15px; }
.pageBody .block .contentText font.size1 { font-size: 9px; line-height: 11px; }
.pageBody .block .contentText font.size2 { font-size: 12px; line-height: 15px; }
.pageBody .block .contentText font.size3 { font-size: 15px; line-height: 18px; }
.pageBody .block .contentText font.size4 { font-size: 18px; line-height: 21px; }
.pageBody .block .contentText font.size5 { font-size: 21px; line-height: 24px; }
.pageBody .block .contentText font.size6 { font-size: 27px; line-height: 30px; }
.pageBody .block .contentText font.size7 { font-size: 45px; line-height: 48px; }

/* google analytics code */
.pageBody .analytics_code { display: none; position: absolute; right: 0; bottom: 0; width: 0; height: 0; }

/* grid widget */
.pageBody .grid { position: absolute; z-index: 0; left: 0; top: 0; overflow: hidden; width: 100%; height: 100%; }
.pageBody .grid.hidden { display: none; }

/* ruler widget */
.contentRuler { position: absolute; overflow: hidden; visibility: hidden; }
.contentRuler.horz { top: -14px; left: 2px; width: 810px; height: 14px; }
.contentRuler.vert { left: -14px; top: 2px; bottom: 2px; width: 14px; }
.contentRuler .cell {
	position: absolute; line-height: 9px; font-size: 10px; color: black;
	font-family: PTSansRegular, Arial, Helvetica, sans-serif; }
.contentRuler.horz .cell {
	top: 0; width: 46px; height: 14px; padding-left: 4px; background: url(../images/rulerBgHorz.png); }
.contentRuler.vert .cell {
	left: 0; width: 12px; height: 46px; padding: 4px 0 0 2px; background: url(../images/rulerBgVert.png); }

/* twitter widget */
.twtr-hd, .twtr-ft { display: none; }
.twtr-avatar { display: block !important; }
.twtr-doc, .twtr-timeline { overflow: visible !important; height: auto !important; }

/* sound cloud widget */
.soundCloud { height: 166px; }

/* FB invite, videoShare widgets */
.contentInvite,
.contentVideoShare,
.contentFbMessage,
.contentFbPostFeed { cursor: pointer; }

/* text styles for all stream widgets */
.contentTumblr *,
.contentDribbble *,
.contentFoursquare *,
.contentRSS *,
.contentTwitter * { font-family: Arial, Helvetica, sans-serif !important; }

.contentTumblr ul li,
.contentDribbble ul li,
.contentFoursquare ul li,
.contentRSS ul li { overflow: hidden; padding: 3px 0 6px; border-bottom: 1px solid #eee; }

.contentRSS ul li { padding-bottom: 9px; }

.contentTumblr ul li .title,
.contentDribbble ul li .title,
.contentFoursquare ul li .title,
.contentRSS ul li .title,
.contentTwitter p,
.digg-widget .digg-story a { font-size: 12px !important; line-height: 16px !important; }
.digg-widget .digg-story a { display: inline-block; font-weight: normal !important; }

.contentTumblr ul li .title a,
.contentDribbble ul li .title a,
.contentFoursquare ul li .title a,
.contentRSS ul li .title a,
.digg-widget .digg-story a { text-decoration: none; }

.contentTumblr ul li .title a:hover,
.contentDribbble ul li .title a:hover,
.contentFoursquare ul li .title a:hover,
.contentRSS ul li .title a:hover,
.digg-widget .digg-story a:hover { text-decoration: underline; }

.contentTumblr ul li .title,
.contentDribbble ul li .title,
.contentFoursquare ul li .title,
.contentRSS ul li .title { margin: 3px 0; }

.contentTumblr ul li .description,
.contentDribbble ul li .description,
.contentFoursquare ul li .description,
.contentRSS ul li .description,
.digg-widget-description { margin-bottom: 3px; line-height: 15px !important; font-size: 12px !important; }

.contentTumblr ul li .date,
.contentDribbble ul li .date,
.contentFoursquare ul li .date,
.contentRSS ul li .date,
.contentTwitter em { font-size: 10px !important; line-height: 12px !important; }

.contentRSS ul li .date { margin-top: 3px; }

.contentTumblr ul li .date a,
.contentDribbble ul li .date a,
.contentFoursquare ul li .date a,
.contentRSS ul li .date a { text-decoration: none; }

.contentTumblr ul li .date a:hover,
.contentDribbble ul li .date a:hover,
.contentFoursquare ul li .date a:hover,
.contentRSS ul li .date a:hover { text-decoration: underline; }

.contentDribbble img { float: left; margin: 3px 6px 0 0; width: 48px; }




/* DASHBOARD - LIST OF ALL USER TABS */

#contents .myTabs { overflow: hidden; }
#contents .myTabs ul { margin: -22px 0 0; padding: 0; }
#contents .myTabs ul li {
	padding: 21px 0 30px; font-size: 14px; font-family: Arial, Helvetica, sans-serif;
	border-top: 1px solid #e5e5e5; margin: 0; background: none; }

#contents .myTabs ul li .heading {
	overflow: hidden; color: #2D2D2D; font-size: 1.8em; line-height: 27px; margin: 0;
	padding: 5px 10px 10px; font-weight: bold; font-family: 'TeXGyreAdventor', Arial, sans-serif;
	background:url(../../images/lefth2.jpg) left center no-repeat; }
#contents .myTabs ul li .heading span.pageName { font-size: 19px; color: #2885b5; font-weight: normal; }
#contents .myTabs ul li .heading .status {
	float: right; position: relative; top: 4px; line-height: 26px; font-size: 14px; color: white; font-weight: normal;
	font-family: Arial, Helvetica, sans-serif; background: #1e7cac; }
#contents .myTabs ul li .heading .status .label {
	float: left; width: 61px; padding-left: 24px; font-weight: bold;
	background: url(../images/tabStatus.png) no-repeat; }
#contents .myTabs ul li .heading .status span { float: left; padding: 0 24px 0 18px; }

#contents .myTabs ul li .tabName { padding: 12px 0; padding-left: 10px; }
#contents .myTabs ul li .tabName .label { line-height: 18px; color: #7d7d7d; }
#contents .myTabs ul li .tabName span { display: block; line-height: 24px; font-size: 19px; color: #2885b5; }
#contents .myTabs ul li .tabName span.description { line-height: 18px; font-size: 14px; }

#contents .myTabs ul li .options {
	padding-left: 10px; margin-bottom: 21px; line-height: 30px; border: 1px solid #e5e5e5;
	border-left: none; border-right: none; }
#contents .myTabs ul li .options a {
	display: inline-block; padding-left: 17px; margin-right: 24px; line-height: 30px; }
#contents .myTabs ul li .options a.rename { background: url(../images/tabRename.png) 0 8px no-repeat; }
#contents .myTabs ul li .options a.reinstall { background: url(../images/tabReinstall.png) 0 7px no-repeat; }
#contents .myTabs ul li .options a.delete { background: url(../images/tabDelete.png) 0 9px no-repeat; }

#contents .myTabs ul li .bigButtons { overflow: hidden; }
#contents .myTabs ul li .bigButtons a { float: left; margin-right: 6px; }
#contents .myTabs ul li .bigButtons a.edit span {
	right: 15px; top: 12px; width: 14px; height: 17px; background: url(../images/tabEdit.png) no-repeat; }



/* RIGHT COLUMN */

#sidebar p,
#sidebar .searchTabs,
#sidebar .userPages { margin-left: 14px; }

/* search tabs form */
.searchTabs { padding-bottom: 10px; }
.searchTabs input { width: 160px; }

/* user pages */
#sidebar .userPages { overflow: hidden; padding-bottom: 14px; line-height: 30px; font-size: 12px; }
#sidebar .userPages ul {}
#sidebar .userPages ul li { height: auto; border-top: 1px solid #e1e1e1; }
#sidebar .userPages ul li a {
	display: block; line-height: 30px; padding: 0 0 0 15px; color: #3b8fba; border: none; background: none; }
#sidebar .userPages ul li a:hover,
#sidebar .userPages ul li a.active {
	color: white !important; text-decoration: none !important; background: #3b8fba; }



/* POPUP */
.hiddenForms { display: none; }
.form { width: 630px; border-radius: 6px; }
.form.myAlert {
	display: none; position: absolute; z-index: 100001; left: 50%; top: 200px; width: 400px;
	margin-left: -204px; border: 1px solid #ddd; font-size: 14px; font-family: Arial; background: #f2f2f2; }
.pageMask {
	display: none; position: absolute; z-index: 100000; left: 0; top: 0; width: 100%; height: 100%;
	background: white; opacity: 0; filter: alpha(opacity=0); }
.form .headline {
	padding: 0 12px; line-height: 30px; font-size: 14px; color: white; border-radius: 6px; background: #6b83b6; }
.form .footline { overflow: hidden; padding: 12px; }
.form .footline a { margin-right: 6px; }
.form .inner { position: relative; z-index: 100000; padding: 12px 12px 0; margin-bottom: -9px; }
.form .inner .hiddenPopupFields { display: none; }
.form .inner .field { line-height: 21px; padding: 0 0 9px; }
.form .inner .field > span { display: block; padding-bottom: 3px; }
.form .inner .field > span.uniPicker { padding-bottom: 0; }
.form .inner .field input[type="text"] { width: 186px; }
.form .inner .field input[type="text"].small { width: 50px; }
.form .inner .field textarea { width: 594px; }
.form .inner .field textarea.css,
.form .inner .field textarea.html { height: 320px; }
.form .inner .field label { display: block; line-height: 24px; padding: 0; font-weight: normal; }
.form .inner .field label.error { display: inline-block; margin-left: 6px; color: red; }
.form .inner .field label input[type="radio"] { position: relative; top: 1px; margin: 0 4px 0 0; }
.form .inner .uniPicker {
	display: inline-block; /*margin: -2px 15px 0 3px;*/ width: 22px; height: 22px; padding: 0; vertical-align: middle;
	background-image: url(../images/colorPicker.png); background-repeat: no-repeat; }
.form .inner .field .uniPicker.link { background-color: #00c; }
.form .inner .field .uniPicker.text,
.form .inner .uniPicker#contestLabelColor,
.form .inner .uniPicker#contestInputColor,
.form .inner .uniPicker#contestBorderColor { background-color: #000; }
.form .inner .uniPicker#contestBackground { background-color: #fff; }
.form .inner #contestLabelWidth,
.form .inner #contestInputWidth { width: 30px; text-align: center; }

.form .inner .field .contestSelectOptionsList,
.form .inner .field .contestRadioOptionsList {
	overflow-y: scroll; max-height: 100px; width: 198px; margin-bottom: 3px; }

.form .inner .field .contestSelectOptionsList a.deleteContestSelectOption { margin-left: 3px; }

.form .inner table { width: 100%; margin-bottom: 9px; }
.form .inner table th,
.form .inner table td {
	padding: 6px; border-bottom: 1px solid #ccc; font-size: 12px; line-height: 15px;
	text-align: center; vertical-align: middle; }

/* user can change the order of slides in preview area */
.form .inner .coolSliderPreview { overflow: hidden; width: 575px; padding: 15px; background: #f5f5f5; }
.form .inner .coolSliderPreview ul { width: 590px; overflow: hidden; }
.form .inner .coolSliderPreview ul li {
	position: relative; float: left; margin-right: 15px; width: 101px; height: 101px;
	border: 1px solid #7f9db9; text-align: center; }
.form .inner .coolSliderPreview ul li .overlay {
	position: absolute; left: 0; top: 0; width: 100%; height: 100%;
	opacity: 0; filter: alpha(opacity=0); background: white; }
.form .inner .coolSliderPreview ul li * { display: inline-block; vertical-align: middle; }
.form .inner .coolSliderPreview ul li span { height: 100%; }
.form .inner .coolSliderPreview ul li img,
.form .inner .coolSliderPreview ul li object,
.form .inner .coolSliderPreview ul li embed { max-width: 101px; max-height: 101px; vertical-align: middle; }
.form .inner .coolSliderPreview ul li:hover a { display: block; }
.form .inner .coolSliderPreview ul li a {
	position: absolute; right: 6px; top: 6px; display: none; width: 11px; height: 11px;
	background: url(../images/tabDelete.png); }

/* cool slider widget */
.coolSlider {
	position: relative; padding: 15px 50px; border-width: 3px; border-style: solid;
	font-family: Arial, Helvetica, sans-serif; }
.coolSlider .arrow {
	position: absolute; top: 50%; margin-top: -30px; display: block; width: 0; height: 0;
	cursor: pointer; border-top: 30px solid transparent; border-bottom: 30px solid transparent; }
.fb-view .coolSlider .arrow { display: none; }
.coolSlider .arrow.left { left: 15px; border-right: 20px solid white; }
.coolSlider .arrow.right { right: 15px; border-left: 20px solid white; }
.coolSlider .frame { position: relative; overflow: hidden; margin: 0 auto; }
.coolSlider .frame ul { position: relative; width: 10000px; padding: 0; list-style: none; }
.coolSlider .frame ul li { position: relative; float: left; margin-right: 15px; text-align: center; }
.coolSlider .frame ul li * { display: inline-block; vertical-align: middle; }
.coolSlider .frame ul li span { height: 100%; width: 0; }
.coolSlider .frame ul li object,
.coolSlider .frame ul li embed { width: 100%; height: 100%; }
.coolSlider .frame ul li img { max-width: 100%; max-height: 100%; }

.uniPicker.coolSliderBgColor { background-color: #000; }
.uniPicker.coolSliderBorderColor { background-color: #ccc; }



/* UGC POPUP */

.ugcPopup {
	display: none; position: absolute; z-index: 100001; left: 50%; top: 100px; width: 400px;
	margin-left: -201px; border: 1px solid #ddd; border-radius: 6px; line-height: 16px; font-size: 12px;
	color: white; font-family: Arial; background: #242021; }
.ugcPopup a.close {
	position: absolute; right: -15px; top: -15px; width: 30px; height: 30px; line-height: 30px;
	font-size: 16px; color: white; text-align: center; font-weight: bold; text-decoration: none;
	border: 1px solid #ddd; border-radius: 30px; background: #242021; }
.ugcPopup .theTitle,
.ugcPopup .uploadedBy,
.ugcPopup .theLikeBtn,
.ugcPopup .theDescription { padding: 15px; }
.ugcPopup .theTitle { line-height: 24px; font-size: 12px; }
.ugcPopup .uploadedBy { margin-top: -32px; font-size: 10px; }
.ugcPopup .theLikeBtn { margin-top: -28px; height: 20px; }
.ugcPopup .theDescription { text-align: center; }
.ugcPopup img { display: block; margin: 0 auto; max-width: 100%; max-height: 100%; }
/*.ugcPopup img { display: block; margin: 0 auto; max-width: 360px; max-height: 360px; } *** Fix width of image popup??? */
/* slider in the ugc popup appears on "ugc-gallery" page */
.ugcPopup.hasSlider { width: 480px; margin-left: -221px; }
.ugcPopup.hasSlider .in { position: relative; width: 440px; margin: 0 auto; }
.ugcPopup.hasSlider .in .arrow {
	display: none; position: absolute; top: 50%; margin-top: -30px; width: 0; height: 0;
	cursor: pointer; border-top: 30px solid transparent; border-bottom: 30px solid transparent; }
.ugcPopup.hasSlider .in .arrow.left { left: 0; border-right: 20px solid white; }
.ugcPopup.hasSlider .in .arrow.right { right: 0; border-left: 20px solid white; }
.ugcPopup.hasSlider .in .frame {
	overflow: hidden; position: relative; width: 360px; height: 270px; margin: 0 auto; }
.ugcPopup.hasSlider .in .frame ul { position: relative; width: 10000px; padding: 0; list-style: none; }
.ugcPopup.hasSlider .in .frame ul li {
	float: left; width: 360px; height: 270px; text-align: center; padding: 0; background: none; }
.ugcPopup.hasSlider .in .frame ul li * { display: inline-block; vertical-align: middle; }
.ugcPopup.hasSlider .in .frame ul li img {}
.ugcPopup.hasSlider .in .frame ul li span { height: 100%; width: 0; }
.ugcPopup.hasSlider .in .frame ul li .text { display: none; }



/* UGC Gallery */

.hiddenUgcContestImages { display: none; }

.ugcGallery {
	width: 764px; margin: 20px; border-width: 3px; border-style: solid; font-family: Arial, Helvetica, sans-serif; }
.ugcGallery.layout5x2 { height: 406px; }
.ugcGallery.layout5x3 { height: 583px; }
.ugcGallery .controlBar { height: 24px; line-height: 24px; margin: 14px; }
.ugcGallery .controlBar a,
.ugcGallery .controlBar input { float: left; margin-right: 6px; }
.ugcGallery .controlBar .pagination { float: right; }
.ugcGallery .controlBar .pagination span,
.ugcGallery .controlBar .pagination select { float: left; }
.ugcGallery .controlBar .pagination span { font-size: 13px; margin-right: 6px; }
.ugcGallery .controlBar .pagination select { margin-top: 1px; }
.ugcGallery .in { overflow: hidden; width: 736px; margin: 0 auto; }
.ugcGallery .in ul { width: 750px; margin: 0; padding: 0; list-style: none; }
.ugcGallery .in ul li { float: left; margin: 0 14px 14px 0; width: 136px; height: 163px; background: #ccc; }
.ugcGallery .in ul li .pic { height: 102px; margin-bottom: 6px; text-align: center; }
.ugcGallery .in ul li .pic * { display: inline-block; vertical-align: middle; }
.ugcGallery .in ul li .pic span { height: 100%; width: 0; }
.ugcGallery .in ul li .pic img { max-width: 136px; max-height: 102px; cursor: pointer; }
.ugcGallery .in ul li a { margin-bottom: 3px; }
.ugcGallery .in ul li a.view { float: left; }
.ugcGallery .in ul li a.vote { float: right; }
.ugcGallery .in ul li a.vote.clicked { opacity: 0.5; filter: alpha(opacity=50); }
.ugcGallery .in ul li .text { clear: both; text-align: center; line-height: 14px; font-size: 11px; }
.ugcGallery .in ul li .text span { display: block; }
.ugcGallery .in ul li .text span.title { font-size: 13px; }
.ugcGallery .in ul li .text span.user {}
.ugcGallery .in ul li .text span.desc { display: none; }

.fb-view .ugcGallery .in ul li { background: none; }
.fb-view .ugcGallery .controlBar .pagination { display: none; }

.uniPicker.ugcGalleryBgColor { background-color: #000; }
.uniPicker.ugcGalleryBorderColor { background-color: #ccc; }
.uniPicker.ugcGalleryTextColor { background-color: #fff; }
.uniPicker.ugcGalleryBtnColor { background-color: #900023; }
.uniPicker.ugcGalleryBtnTextColor { background-color: #fff; }



/* CONTEST FORM */
.contestFormField { position: relative; line-height: 24px; font-family: Arial, Helvetica, sans-serif; }
.contestFormField label,
.contestFormField select,
.contestFormField textarea,
.contestFormField [type="text"],
.contestFormField .radioGroup { float: left; width: 150px; font-size: 12px; }
.contestFormField select,
.contestFormField textarea,
.contestFormField [type="text"] {
	display: block; height: 16px; line-height: 16px; padding: 3px 6px; border: 1px solid #000; }
.contestFormField label { padding-right: 10px; }
.contestFormField label.error {
	position: absolute; left: 100%; top: 0; color: red; overflow: hidden; width: 0; height: 0; }
.contestFormField select { height: 24px; line-height: 24px; padding: 0; }
.contestFormField textarea { height: 82px; }
.contestFormField [type="radio"],
.contestFormField [type="checkbox"] { float: left; margin-right: 6px; margin-top: 6px; }



/*---------------- WORKING PAGE STYLES --------------------*/

.fb-view .pageBody { overflow: hidden; }


/* CONTACT FORM POPUP */
.CFPopup,
.CFPopup .bg { position: absolute; z-index: 99999; left: 0; top: 0; width: 100%; height: 100%; }
.CFPopup .bg { z-index: 0; background: black; opacity: 0.5; filter: alpha(opacity=50); }
.CFPopup .form {
	position: absolute; z-index: 100000; left: 50%; top: 50%; margin: -200px 0 0 -175px;
	width: 360px; padding: 18px 24px 21px; border: 1px solid black; border-radius: 12px; background: white; }
.CFPopup .form a.closeWindow {
	position: absolute; right: 10px; top: 10px; display: block; width: 12px; height: 12px;
	background: url(../images/CFpopupClose.png) no-repeat; }
.CFPopup .form .field { padding-bottom: 18px; }
.CFPopup .form .field .label {
	padding-bottom: 3px; line-height: 18px; font-size: 14px; color: black; font-family: Arial, Helvetica, sans-serif; }
.CFPopup .form input,
.CFPopup .form textarea { font-size: 12px; color: #333; font-family: Arial, Helvetica, sans-serif; }
.CFPopup .form textarea,
.CFPopup .form [type="text"],
.CFPopup .form [type="submit"] {
	padding: 3px 5px; height: 16px; line-height: 16px; border: 1px solid #333; border-radius: 3px; }
.CFPopup .form textarea { width: 348px; height: auto; }
.CFPopup .form [type="text"] { width: 168px; }
.CFPopup .form [type="submit"] {
	display: block; width: 150px; height: 22px; line-height: 22px; cursor: pointer; border: none;
	border-radius: none; background: url(../images/CFsubmit.png) no-repeat; }


/* jquery ui-timepicker addon */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }


/* jQuery Countdown styles 1.5.11. */
.hasCountdown { border: 1px solid #ccc; background-color: #eee; }
.countdown_rtl { direction: rtl; }
.countdown_holding span { background-color: #ccc; }
.countdown_row { clear: both; display: block; width: 100%; padding: 0px 2px; text-align: center; }
.countdown_show1 .countdown_section { width: 98%; }
.countdown_show2 .countdown_section { width: 48%; }
.countdown_show3 .countdown_section { width: 32.5%; }
.countdown_show4 .countdown_section { width: 24.5%; }
.countdown_show5 .countdown_section { width: 19.5%; }
.countdown_show6 .countdown_section { width: 16.25%; }
.countdown_show7 .countdown_section { width: 14%; }
.countdown_section { display: inline-block; font-size: 75%; margin: 0 3%; }
.countdown_amount { display: inline-block; font-size: 200%; }
.countdown_descr { display: block; width: 100%; }

/**
 * Author: Arsen Kazydub
 * Standarts: HTML 5 / CSS 3
 * E-mail: arsen.ws@gmail.com
*/